
<launch>
  <!-- Gazebo world launch -->
  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.02   "/>
  <arg name="y" default="-4.5"/>
  <arg name="z" default="0.14"/>

  <arg name="yaw" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find construction_world)/worlds/construction.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Custom husky launch -->
  <group ns="$(arg robot_namespace)">
    <include file="$(find utsa_husky_sim_control)/launch/control.launch" />

    <!-- Spawn robot in gazebo -->
    <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -urdf
              -param robot_description
              -model husky
              -robot_namespace $(arg robot_namespace)
              -unpause" />
  </group>
  
  <!-- Load robot description -->
   <param name="robot_description" command="$(find xacro)/xacro '$(find utsa_husky_description)/urdf/utsa_husky.urdf.xacro'
    robot_namespace:=$(arg robot_namespace)" />


  <!-- Run Move Base -->
  <include file="$(find husky_navigation)/launch/move_base.launch">
    <arg name="no_static_map" value="true"/>
  </include>


</launch>